DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Administrator
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com

PAYSTACK_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
TRACK17_API_KEY=
